<div>
    <div class="project-container">
        <div class="row justify-content-center">
            <div class="col-7 project-left-side">
                <h2 class="project-name">{{project.name}}</h2>
                <p class="project-description" [innerHTML]="project.description"></p>
            </div>
            <div class="col-4 project-right-side">
                <h2>Donate</h2>
                <br>
                <form action="">
                    <div>
                        <button class="donate-button">UAH 150</button>
                        <button class="donate-button">UAH 250</button>
                        <button class="donate-button">UAH 500</button>
                    </div>
                    <div>
                        <input type="text" placeholder="Amount (UAH 150)" class="donate-input">
                    </div>
                    <div>
                        <button class="donate-submit-button">Donate Now</button>
                    </div>
                    <div>
                        <a class="donate-details-link" [routerLink]="['/project', project.id, 'view' ]">Details</a>
                    </div>
                </form>
            </div>
            <div class="col-1"></div>
        </div>
    </div>
</div>
<div>
    <br><br><br>
    <h1>
        <fa-icon [icon]="'th-large'"></fa-icon>Donates | Spends
    </h1>
    <div class="row">
        <div class="col-6 text-center">
            <canvas baseChart
                    [data]="doughnutChartData"
                    [labels]="doughnutChartLabels"
                    [chartType]="doughnutChartType">
            </canvas>
        </div>
        <div *ngIf="project.projectType === const" class="col-6 text-center">
            <agm-map  [latitude]="location.latitude[0]" [longitude]="location.longitude[0]">
                <agm-marker *ngFor="let device of location.latitude, let i =index"
                            [latitude]="device"
                            [longitude]="location.longitude[i]"></agm-marker>
            </agm-map>
        </div>
    </div>
</div>
<div>
    <br><br><br>
    <h1>
        <fa-icon [icon]="'th-large'"></fa-icon>Transactions
    </h1>
    <div class="row">
        <!--<br><br><br>-->
        <!--<h1></h1>-->
        <div class="col-12">
            <div class="table-responsive" *ngIf="transactions?.length > 0">
                <table class="table table-striped" aria-describedby="page-heading">
                    <thead>
                    <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
                        <th jhiSortBy="txid"><span>Txid</span></th>
                        <th jhiSortBy="amount"><span>Amount</span></th>
                        <th jhiSortBy="transactionType"><span>Transaction Type</span></th>
                        <th jhiSortBy="createdDate"><span>Created Date</span></th>
                        <th jhiSortBy="transactionStatus"><span>Status</span></th>
                        <th jhiSortBy="key"><span>Key</span></th>
                        <th jhiSortBy="note"><span>Note</span></th>
                        <th jhiSortBy="userLogin"><span>User</span></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let transactions of transactions ;trackBy: trackId">
                        <td>
                            <a [href]="'http://localhost:8082/#/events/hash/'+transactions.txid" target="_blank">{{transactions.txid}}</a>
                        </td>
                        <td>{{transactions.amount}}</td>
                        <td jhiTranslate="{{'decentralizedcharityApp.TransactionType.' + transactions.transactionType}}">{{transactions.transactionType}}</td>
                        <td>{{transactions.createdDate | date:'medium'}}</td>
                        <td>{{transactions.transactionStatus}}</td>
                        <td>{{transactions.key}}</td>
                        <td>{{transactions.note}}</td>
                        <td>
                            {{transactions.userLogin}}
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
