<div>
    <div *ngFor="let project of projects ;trackBy: trackId" class="project-container" style="background-image: url('https://resource.binance.charity/images/7dee8c08c7b84395ad6db754d43c59f5_2%20solution.jpg'); background-size: cover; background-position: auto;">
        <div class="row justify-content-center">
            <div class="col-7 project-left-side">
                <h2 class="project-name">{{project.name}}</h2>
                <p class="project-description" [innerHTML]="project.description"></p>
            </div>
            <div class="col-4 project-right-side">
                <h2>Donate</h2>
                <br>
                <form action="">
                    <div>
                        <button class="donate-button">UAH 150</button>
                        <button class="donate-button">UAH 250</button>
                        <button class="donate-button">UAH 500</button>
                    </div>
                    <div>
                        <input type="text" placeholder="Amount (UAH 150)" class="donate-input">
                    </div>
                    <div>
                        <button class="donate-submit-button">Donate Now</button>
                    </div>
                    <div>
                        <a class="donate-details-link" [routerLink]="['/project', project.id, 'view' ]">Details</a>
                    </div>
                    <div>
                        or <br><span>{{ project.address }}</span>
                    </div>
                </form>
            </div>
            <div class="col-1"></div>
        </div>
    </div>
    <jhi-alert></jhi-alert>
</div>
